.page-header {
  border-bottom: 1px solid $basic-light-blue;

  @media (max-width: $desktop-width) {
    border: none;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $basic-light-blue;
      top: 63px;
      left: 0;
      position: absolute;
    }
  }
}
