$basic-dark: #2d2d30;
$basic-dark-grey: #52525a;
$basic-blue:#1421ff;
$basic-grey: #f5f5f5;
$basic-white: #ffffff;
$basic-light-blue: #ebeffb;
$small-blue: #eff0ff;

$desktop-width: 1399px;
$tablet-width: 767px;
$mobile-width: 359px;
